.updating{
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  width: 800px;
  margin-left: 150px;
  margin-top: 50px;
  height: 500px;
  overflow-y: scroll;
}

.searching-by{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
  padding: 10px;
}

.searching-by input{
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 0px 20px;
  width: 300px;
  height: 30px;
  font-size: 11px;
}